.cta-section {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 80px 40px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.cta-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.cta-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.cta-left {
  display: flex;
  align-items: flex-end;
}


.cta-bottom-text{
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 10px;
  bottom: 10%;
}


.para-first {
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
  margin: 0;
  color: #fff;
}
.para-second {
  font-weight: 300;
  font-size: 32px;
  margin-top: 0;
}

.cta-right {
  flex: 0 0 520px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 0;
  border-radius: 15px;
}

.cta-right h2 {
  font-size: 2rem;
  color: black;
  margin-bottom: 20px;
}

.cta-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

.cta-form input,
.cta-form textarea {
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid black;
  background: none;
  color: black;
  font-size: 0.95rem;
}

.cta-form textarea {
  resize: none;
  min-height: 100px;
  margin-bottom: 30px;
}

.cta-form button {
  padding: 12px 20px;
  background: black;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  font-size:14px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 40px;
  border: none;
}

.cta-form button:hover {
  background: #83e306;
  color: #ffffff;
  transform: translateY(-2px);
}

.cta-bottom-img {
  position: absolute;
  bottom: -202px;
  width: 100%;
  left: 0;
  pointer-events: none;
}

@media (max-width: 1250px) {
  .cta-bottom-img {
    bottom: -135px;
  }
}

@media (max-width: 995px) {
  .cta-section {
    padding: 32px;
    min-height: auto;
  }
  .cta-content {
    flex-direction: column;
    align-items: center;
  }
  .cta-right {
    margin-left: 185px;
  }
  .para-first {
    color: black;
    font-size: 30px;
    margin-top: 32px;
  }
  .para-second {
    color: black;
    font-size: 30px;
    margin: 0;
  }
  .cta-right h2 {
    font-size: 28px;
  }

  .cta-bottom-img {
    bottom: -12.5%;
  }
}

@media (max-width: 600px) {
  .cta-content {
    align-items: start;
  }
  .cta-section {
    padding: 20px;
    background-position: right;
  }
  .cta-right {
    margin-left: 0;
    width: 100%;
  }

  .cta-form {
    width: 100%;
  }
  .cta-right h2 {
    font-size: 24px;
  }
  .cta-bottom-img {
    bottom: -7%;
  }
}
